IMSD/IMSD/WSDL/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employeeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="employeeEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="employeePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="employeeContact" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateEmployeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingleEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteEmployeeByIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="CreateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployee" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleEmployee" />
  </wsdl:message>
  <wsdl:message name="GetSingleEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeById" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeServiceSoap">
    <wsdl:operation name="CreateEmployee">
      <wsdl:input message="tns:CreateEmployeeSoapIn" />
      <wsdl:output message="tns:CreateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <wsdl:input message="tns:GetAllEmployeeSoapIn" />
      <wsdl:output message="tns:GetAllEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleEmployee">
      <wsdl:input message="tns:GetSingleEmployeeSoapIn" />
      <wsdl:output message="tns:GetSingleEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeById">
      <wsdl:input message="tns:DeleteEmployeeByIdSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeServiceSoap" type="tns:EmployeeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap:operation soapAction="http://tempuri.org/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleEmployee">
      <soap:operation soapAction="http://tempuri.org/GetSingleEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeById">
      <soap:operation soapAction="http://tempuri.org/DeleteEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeeServiceSoap12" type="tns:EmployeeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmployee">
      <soap12:operation soapAction="http://tempuri.org/CreateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap12:operation soapAction="http://tempuri.org/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleEmployee">
      <soap12:operation soapAction="http://tempuri.org/GetSingleEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeById">
      <soap12:operation soapAction="http://tempuri.org/DeleteEmployeeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="EmployeeServiceSoap" binding="tns:EmployeeServiceSoap">
      <soap:address location="http://localhost:59483/EmployeeService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeeServiceSoap12" binding="tns:EmployeeServiceSoap12">
      <soap12:address location="http://localhost:59483/EmployeeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>