IMSD/IMSD/WSDL/ReportingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCashMemo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuantityStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductPriceStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outputFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCashMemoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCashMemoResult" type="tns:Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Document">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JavaScript_onLoad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JavaScript_onUnLoad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HtmlStyleClass" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCashMemoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCashMemo" />
  </wsdl:message>
  <wsdl:message name="GetCashMemoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCashMemoResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportingServiceSoap">
    <wsdl:operation name="GetCashMemo">
      <wsdl:input message="tns:GetCashMemoSoapIn" />
      <wsdl:output message="tns:GetCashMemoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportingServiceSoap" type="tns:ReportingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCashMemo">
      <soap:operation soapAction="http://tempuri.org/GetCashMemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportingServiceSoap12" type="tns:ReportingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCashMemo">
      <soap12:operation soapAction="http://tempuri.org/GetCashMemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingService">
    <wsdl:port name="ReportingServiceSoap" binding="tns:ReportingServiceSoap">
      <soap:address location="http://localhost:59483/ReportingService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportingServiceSoap12" binding="tns:ReportingServiceSoap12">
      <soap12:address location="http://localhost:59483/ReportingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>