IMSD/IMSD/Web References/CusService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCustomer">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCustomerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerPurchaseAmountById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CusId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerPurchaseAmountByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCustomerPurchaseAmountByIdResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerList">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomerListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCustomerByIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCustomerInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCustomerInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateCustomerInformationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCustomer" />
  </wsdl:message>
  <wsdl:message name="GetAllCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerPurchaseAmountByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerPurchaseAmountById" />
  </wsdl:message>
  <wsdl:message name="GetCustomerPurchaseAmountByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerPurchaseAmountByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerList" />
  </wsdl:message>
  <wsdl:message name="GetCustomerListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCustomerById" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="GetCustomerByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="updateCustomerInformationSoapIn">
    <wsdl:part name="parameters" element="tns:updateCustomerInformation" />
  </wsdl:message>
  <wsdl:message name="updateCustomerInformationSoapOut">
    <wsdl:part name="parameters" element="tns:updateCustomerInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerServiceSoap">
    <wsdl:operation name="AddCustomer">
      <wsdl:input message="tns:AddCustomerSoapIn" />
      <wsdl:output message="tns:AddCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <wsdl:input message="tns:GetAllCustomerSoapIn" />
      <wsdl:output message="tns:GetAllCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerPurchaseAmountById">
      <wsdl:input message="tns:GetCustomerPurchaseAmountByIdSoapIn" />
      <wsdl:output message="tns:GetCustomerPurchaseAmountByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <wsdl:input message="tns:GetCustomerListSoapIn" />
      <wsdl:output message="tns:GetCustomerListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerById">
      <wsdl:input message="tns:DeleteCustomerByIdSoapIn" />
      <wsdl:output message="tns:DeleteCustomerByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <wsdl:input message="tns:GetCustomerByIdSoapIn" />
      <wsdl:output message="tns:GetCustomerByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateCustomerInformation">
      <wsdl:input message="tns:updateCustomerInformationSoapIn" />
      <wsdl:output message="tns:updateCustomerInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServiceSoap" type="tns:CustomerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <soap:operation soapAction="http://tempuri.org/GetAllCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerPurchaseAmountById">
      <soap:operation soapAction="http://tempuri.org/GetCustomerPurchaseAmountById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <soap:operation soapAction="http://tempuri.org/GetCustomerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerById">
      <soap:operation soapAction="http://tempuri.org/DeleteCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomerInformation">
      <soap:operation soapAction="http://tempuri.org/updateCustomerInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServiceSoap12" type="tns:CustomerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://tempuri.org/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetAllCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerPurchaseAmountById">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerPurchaseAmountById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerById">
      <soap12:operation soapAction="http://tempuri.org/DeleteCustomerById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomerInformation">
      <soap12:operation soapAction="http://tempuri.org/updateCustomerInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="CustomerServiceSoap" binding="tns:CustomerServiceSoap">
      <soap:address location="http://localhost:59483/CustomerService.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServiceSoap12" binding="tns:CustomerServiceSoap12">
      <soap12:address location="http://localhost:59483/CustomerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>