IMSD/IMSD/Web References/ProService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Catname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCategoryResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategory">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CatId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imgLoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="getOneCategoryInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOneCategoryInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOneCategoryInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCategoryInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCategoryInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateCategoryInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfPoductIncategory">
        <s:complexType />
      </s:element>
      <s:element name="GetNumberOfPoductIncategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNumberOfPoductIncategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductList">
        <s:complexType />
      </s:element>
      <s:element name="GetProductListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOnlyProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CatId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOnlyProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteOnlyProductResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOneProductInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CatId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOneProductInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOneProductInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateProductInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CatId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imgLoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateProductInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateProductInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductQuantityById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductQuantityByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductQuantityByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductNameById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductNameByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductNameByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductImageurlById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductImageurlByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductImageurlByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCategorySoapIn">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="AddCategorySoapOut">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="GetCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="AddProductSoapIn">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="AddProductSoapOut">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCategorySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="DeleteCategorySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="getOneCategoryInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getOneCategoryInfo" />
  </wsdl:message>
  <wsdl:message name="getOneCategoryInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getOneCategoryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="updateCategoryInfoSoapIn">
    <wsdl:part name="parameters" element="tns:updateCategoryInfo" />
  </wsdl:message>
  <wsdl:message name="updateCategoryInfoSoapOut">
    <wsdl:part name="parameters" element="tns:updateCategoryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfPoductIncategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberOfPoductIncategory" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfPoductIncategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberOfPoductIncategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductListSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductList" />
  </wsdl:message>
  <wsdl:message name="GetProductListSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductListResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOnlyProductSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOnlyProduct" />
  </wsdl:message>
  <wsdl:message name="DeleteOnlyProductSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOnlyProductResponse" />
  </wsdl:message>
  <wsdl:message name="getOneProductInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getOneProductInfo" />
  </wsdl:message>
  <wsdl:message name="getOneProductInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getOneProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="updateProductInfoSoapIn">
    <wsdl:part name="parameters" element="tns:updateProductInfo" />
  </wsdl:message>
  <wsdl:message name="updateProductInfoSoapOut">
    <wsdl:part name="parameters" element="tns:updateProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductQuantityByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductQuantityById" />
  </wsdl:message>
  <wsdl:message name="GetProductQuantityByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductQuantityByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductNameByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductNameById" />
  </wsdl:message>
  <wsdl:message name="GetProductNameByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductNameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductImageurlByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductImageurlById" />
  </wsdl:message>
  <wsdl:message name="GetProductImageurlByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductImageurlByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductServiceSoap">
    <wsdl:operation name="AddCategory">
      <wsdl:input message="tns:AddCategorySoapIn" />
      <wsdl:output message="tns:AddCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input message="tns:GetCategorySoapIn" />
      <wsdl:output message="tns:GetCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input message="tns:AddProductSoapIn" />
      <wsdl:output message="tns:AddProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input message="tns:DeleteProductSoapIn" />
      <wsdl:output message="tns:DeleteProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input message="tns:DeleteCategorySoapIn" />
      <wsdl:output message="tns:DeleteCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOneCategoryInfo">
      <wsdl:input message="tns:getOneCategoryInfoSoapIn" />
      <wsdl:output message="tns:getOneCategoryInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateCategoryInfo">
      <wsdl:input message="tns:updateCategoryInfoSoapIn" />
      <wsdl:output message="tns:updateCategoryInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfPoductIncategory">
      <wsdl:input message="tns:GetNumberOfPoductIncategorySoapIn" />
      <wsdl:output message="tns:GetNumberOfPoductIncategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <wsdl:input message="tns:GetProductListSoapIn" />
      <wsdl:output message="tns:GetProductListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOnlyProduct">
      <wsdl:input message="tns:DeleteOnlyProductSoapIn" />
      <wsdl:output message="tns:DeleteOnlyProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOneProductInfo">
      <wsdl:input message="tns:getOneProductInfoSoapIn" />
      <wsdl:output message="tns:getOneProductInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateProductInfo">
      <wsdl:input message="tns:updateProductInfoSoapIn" />
      <wsdl:output message="tns:updateProductInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductQuantityById">
      <wsdl:input message="tns:GetProductQuantityByIdSoapIn" />
      <wsdl:output message="tns:GetProductQuantityByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductNameById">
      <wsdl:input message="tns:GetProductNameByIdSoapIn" />
      <wsdl:output message="tns:GetProductNameByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductImageurlById">
      <wsdl:input message="tns:GetProductImageurlByIdSoapIn" />
      <wsdl:output message="tns:GetProductImageurlByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceSoap" type="tns:ProductServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOneCategoryInfo">
      <soap:operation soapAction="http://tempuri.org/getOneCategoryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategoryInfo">
      <soap:operation soapAction="http://tempuri.org/updateCategoryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfPoductIncategory">
      <soap:operation soapAction="http://tempuri.org/GetNumberOfPoductIncategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <soap:operation soapAction="http://tempuri.org/GetProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOnlyProduct">
      <soap:operation soapAction="http://tempuri.org/DeleteOnlyProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOneProductInfo">
      <soap:operation soapAction="http://tempuri.org/getOneProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProductInfo">
      <soap:operation soapAction="http://tempuri.org/updateProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductQuantityById">
      <soap:operation soapAction="http://tempuri.org/GetProductQuantityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductNameById">
      <soap:operation soapAction="http://tempuri.org/GetProductNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductImageurlById">
      <soap:operation soapAction="http://tempuri.org/GetProductImageurlById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductServiceSoap12" type="tns:ProductServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCategory">
      <soap12:operation soapAction="http://tempuri.org/AddCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap12:operation soapAction="http://tempuri.org/GetCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap12:operation soapAction="http://tempuri.org/AddProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap12:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap12:operation soapAction="http://tempuri.org/DeleteCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOneCategoryInfo">
      <soap12:operation soapAction="http://tempuri.org/getOneCategoryInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategoryInfo">
      <soap12:operation soapAction="http://tempuri.org/updateCategoryInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfPoductIncategory">
      <soap12:operation soapAction="http://tempuri.org/GetNumberOfPoductIncategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <soap12:operation soapAction="http://tempuri.org/GetProductList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOnlyProduct">
      <soap12:operation soapAction="http://tempuri.org/DeleteOnlyProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOneProductInfo">
      <soap12:operation soapAction="http://tempuri.org/getOneProductInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProductInfo">
      <soap12:operation soapAction="http://tempuri.org/updateProductInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductQuantityById">
      <soap12:operation soapAction="http://tempuri.org/GetProductQuantityById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductNameById">
      <soap12:operation soapAction="http://tempuri.org/GetProductNameById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductImageurlById">
      <soap12:operation soapAction="http://tempuri.org/GetProductImageurlById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="ProductServiceSoap" binding="tns:ProductServiceSoap">
      <soap:address location="http://localhost:59483/ProductService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductServiceSoap12" binding="tns:ProductServiceSoap12">
      <soap12:address location="http://localhost:59483/ProductService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>